@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Care services</h1>
    <p class="lead">Mange your employees, customers, and services.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p class="btn btn-default">@Html.ActionLink("Manage", "Index", "Services")</pclass="btn>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p class="btn btn-default">@Html.ActionLink("Manage", "Index", "Employees")</p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p class="btn btn-default">@Html.ActionLink("Manage", "Index", "Customers")</p>
    </div>
</div>